%body
  #layout
    = render "shared/header"
    #body_container
      .work_container
        .work_bg_repeat
          .work_bg_top
            .work_bg_bottom
              .work_main
                - if signed_in?
                  = render :partial => "shared/menu", :locals => {:active => "public_page"}
                .work_main_bg
                  .work_main_top
                    .work_main_bottom
                      .world_outer
                        .show_world
                          = image_tag @user.profile_picture
                          %h2
                            #{@user.full_name}
                            %strong Three Best
                          %p= Time.now.strftime("%B %d at %I:%M%p")
                          .world_banner_sec
                            %div
                              .showing
                                %a{:href => "#"}
                                  = image_tag "showing_img.png"
                            %ul
                              %li.first
                                = render :partial => "shared/public_page_photo", :locals => {:photo => @user.top_photo_one}
                              %li
                                = render :partial => "shared/public_page_photo", :locals => {:photo => @user.top_photo_two}
                              %li
                                = render :partial => "shared/public_page_photo", :locals => {:photo => @user.top_photo_three}
                        .comment_sec
                          %fb-root
                          %script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
                          %fb:comments{:href => "mythreebest.com/#{@user.public_page_url}", :num_posts => "2", :width => "628"}
                        .bottom_logo.pad_bot01
                          .add_area
        %span.clear
    = render :partial => "shared/footer", :locals => {:css_class => "pad1"}
