#header
  %span.logo
    = link_to image_tag("logo.png"), root_path
  .work_top
    %ul
      - if signed_in?
        %li.first Hi, #{current_user.first_name}!
      - else
        %li.first Hi, Visitor!
      %li
        = link_to "How it works", how_it_works_path
      %li.last
        - if signed_in?
          = link_to "Log Out", logout_path
        - else
          = link_to "Log in", new_user_session_path
