Your Current Three Best
.top-photo
  - if current_user.top_photo_one
    = image_tag current_user.top_photo_one.preview_url
.top-photo
  - if current_user.top_photo_two
    = image_tag current_user.top_photo_two.preview_url
.top-photo
  - if current_user.top_photo_three
    = image_tag current_user.top_photo_three.preview_url

%p
  Show the world:
  = link_to "mythreebest.com/#{current_user.public_page_url}", public_profile_url(current_user.public_page_url)
= simple_form_for current_user, :remote => true do |f|
  = f.input :public_page, :label => 'Enable Show to the world'

:javascript
  $(document).ready(function() {
      $("#user_public_page").click(function() {
          $(".simple_form").submit();
      });
  });
