.invite_bg_repeat.pad02
  .invite_top
    .invite_bottom
      .invite_main
        %h2 My Current Three Best
        %ul
          %li.first
            = render :partial => "shared/best_photo", :locals => {:photo => current_user.top_photo_one}
          %li
            = render :partial => "shared/best_photo", :locals => {:photo => current_user.top_photo_two}
          %li
            = render :partial => "shared/best_photo", :locals => {:photo => current_user.top_photo_three}
        %h2 Show the World
        = link_to "mythreebest.com/#{current_user.public_page_url}", public_profile_url(current_user.public_page_url), :class => "link"
        %span.world
          = simple_form_for current_user, :remote => true do |f|
            = f.input :public_page, :label => 'Enable Show to the world'

:javascript
  $(document).ready(function() {
      $("#user_public_page").click(function() {
          $(".simple_form").submit();
      });
  });
