- content_for :javascripts do
  = javascript_include_tag "jquery-ui.min"
  = javascript_include_tag "jquery.simplemodal.min"
  = javascript_include_tag "jquery.tmpl"
  = javascript_include_tag "knockout"
  = javascript_include_tag "jquery.pagination"
  = javascript_include_tag "pageclass/#{controller.controller_name}"

%body
  #layout
    = render "shared/header"
    #body_container
      .work_container
        .work_bg_repeat
          .work_bg_top
            .work_bg_bottom
              .work_main
                = render "shared/menu"
                .invite_left
                  = render "shared/user_avatar"
                  = render "shared/three_best"
                .invite_right
                  .invite_right_bg
                    .invite_right_top
                      .invite_right_bottom
                        .invite_outer
                          .banner
                            %h2 
                              Invite your friend to vote on your photos
                            %br
                            %script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
                            .send_button
                              %fb:send{:href => new_vote_token_url(current_user, current_user.token), :font => "segoe ui"}
                              a personal message to your friends
                            %br
                            = link_to image_tag("postWall.png"), invite_all_path, :remote => true, :id => "invite-all"
                          .row
                            - if @friends.empty?
                              %h2 You don't have any votes yet, invite more friends to vote!!!
                            - else
                              %h2 Recent Votes
                          #rows
                            - @friends.each_slice(2) do |friend|
                              .row
                                %ul
                                  %li.first
                                    %img{:src => friend[0].profile_picture}
                                    %h3
                                      %a{:href => "#"}= friend[0].full_name
                                      %p
                                        = link_to "View #{friend[0].first_name}'s votes »", friend_votes_path(friend[0].id)
                                  - if friend[1]
                                    %li
                                      %img{:src => friend[1].profile_picture}
                                      %h3
                                        %a{:href => "#"}= friend[1].full_name
                                        %p
                                          = link_to "View #{friend[1].first_name}'s votes »", friend_votes_path(friend[1].id)
                      %span.clear
        %span.clear
    = render :partial => "shared/footer", :locals => {:css_class => "pad1"}

:javascript
  $(document).ready(function() {
      //ajaxInvite();
      $("#invite-all").bind("ajax:success", function(event, data, status, xhr) {
          alert('The Invite will be posted in your wall soon!!');
      });
      //getFriends();
      //window.getFriendsInterval = window.setInterval(getFriends, 3000);
  });


