- content_for :meta do
  %meta{:property => "og:title", :content => "My Three Best"}/
  %meta{:property => "og:image", :content => @user.profile_picture}/
  %meta{:property => "og:description", :content => "Vote My Three Best Photos!!!"}


%body
  #layout
    = render "shared/header"
    #body_container
      .work_container
        .work_bg_repeat
          .work_bg_top
            .work_bg_bottom
              .work_main
                %h4
                  Choose
                  %strong #{@user.full_name}
                  Three Best Photos
                %p.head_text
                  Sed dapibus convallis molestie &middot;
                  %em Nullam et neque eu dolor eleifend faucibus.
                .black_box
                  .black_box_bg
                    .black_box_top
                      .black_box_bottom
                        .black_box_main
                          .photos_box
                            #fantasticFlow.ContentFlow
                              .loadIndicator
                                .indicator
                              .flow
                                - @photos.each do |photo|
                                  = image_tag photo.preview_url, :id => photo.id, :class => "item", :title => photo.title
                              .globalCaption.grayCaption
                              .scrollbar
                                .slider
                                  .position.grayCaption
                          .choose_img_sec
                            #try_container
                              .try_outer
                                .try_top{:class => "png"}
                                  %span{:class => "clear"}
                                .try_bg{:class => "png"}
                                  .try_main
                                    %a{:href => "#", :class => "close"}
                                    %h2 Thanks! Would you like to invite your friends to choose your <strong>Three Best</strong> Photos?
                                    %ul
                                      %li{:class => "first"}
                                        = link_to "Yes", root_path, :class => "yes"
                                      %li
                                        = link_to "Skip - Take me to Facebook", "https://facebook.com", :class => "skip"
                                .try_bottom{:class => "png"}
                            = form_tag(save_vote_path, :remote => true, :id => "save-vote") do
                              %ul
                                %li.first
                                  = render :partial => "selected_photo", :locals => {:photo => (@first_voted.photo rescue nil), :class_name => "first_photo_vote", :number => 1}
                                %li
                                  = render :partial => "selected_photo", :locals => {:photo => (@second_voted.photo rescue nil), :class_name => "second_photo_vote", :number => 2}
                                %li
                                  = render :partial => "selected_photo", :locals => {:photo => (@third_voted.photo rescue nil), :class_name => "third_photo_vote", :number => 3}
                              = hidden_field_tag 'vote_comment'
                            .tool_tip
                              %a{:href => "#"}
                                = image_tag "icon01.gif"
                              .tool_tip_input
                                %input{:name => "message", :type => "text", :value => "What's on your mind?"}/
                          %a.finished{:href => "#"} Click Here When Finished
                      %span.clear
        %span.clear
    = render :partial => "shared/footer", :locals => {:css_class => "pad1"}

  :javascript
    var fantasticFlow = new ContentFlow('fantasticFlow');
    var photosPage = 1;
    var loadInterval;
    $(document).ready(function() {
        loadInterval = setInterval(loadPage, 1000);
        $(".select-photo").click(function(event) {
            event.preventDefault();
            var selected = $(".active canvas");
            var photoId = selected.attr('id');
            var photo = selected.attr('src');
            var alreadySelected = $(".selected-photo-img[src='"+photo+"']");
            if (alreadySelected.length == 0) {
                $(this).parent().find(".selected-photo-img").attr("src", photo);
                $(this).find(".selected-photo-img").wrap('<div class="img_frame" />');
                $(this).parent().find("input").val(photoId);
                $(this).find("span").text("Replace");
                $(this).addClass("active");
            } else {
                alert("The photo is selected already!!");
            }
        });
        $(".finished").click(function(event) {
            event.preventDefault();
            $("#save-vote").submit();
        });
        $("#save-vote").bind("ajax:success", function(event, data, status, xhr) {
            $("#try_container").css('display', 'block');
        });
        $(".close").click(function(event) {
            event.preventDefault();
            $("#try_container").css('display', 'none');
        });
        $(".tool_tip_input input").click(function(event) {
            $(this).val("");
        });
        $(".tool_tip_input input").blur(function() {
            if($(this).val() == "") {
                $(this).val("What's on your mind?");
            }
        });
    });
