=javascript_include_tag 'contentflow'
=javascript_include_tag 'jquery.simplemodal.min'
%p Photos of #{@user.first_name}
.photos-box
  .ContentFlow
    .loadIndicator
      .indicator
    .flow
      - @photos.each do |photo|
        = image_tag photo.preview_url, :id => photo.id, :class => "item", :title => photo.title
    .globalCaption
    .scrollbar
      .slider
        .position
  %a{:href => "#", :id => "select-photo"} Select photo

.selected-photo{:class => (@first_voted.nil? ? "free": "used")}
  - if @first_voted
    = image_tag @first_voted.preview_url
  - else
    %p Select a photo
.selected-photo{:class => (@second_voted.nil? ? "free": "used")}
  - if @second_voted
    = image_tag @second_voted.preview_url
  - else
    %p Select a photo
.selected-photo{:class => (@third_voted.nil? ? "free": "used")}
  - if @third_voted
    = image_tag @third_voted.preview_url
  - else
    %p Select a photo

#repeated-photo{:class => "alert-dialog simplemodal-data"}
  %p Photo already selected!!
  %a{:href => "#", :class => "simplemodal-close"} Accept

#vote-limit{:class => "alert-dialog simplemodal-data"}
  %p Three photos selected already!!
  %a{:href => "#", :class => "simplemodal-close"} Accept

:javascript
  $(document).ready(function() {
      $("#select-photo").click(function() {
          var selected = $(".active canvas");
          var photoId = selected.attr('id');
          var photo = selected.attr('src');
          var freePos = $(".free");
          var alreadySelected = $(".selected-photo img[src='"+photo+"']");
          if (freePos.length > 0) {
              if (alreadySelected.length == 0) {
                  $.get("/vote/"+#{@user.id}+"/"+photoId);
                  $(freePos[0]).html("<img src='"+photo+"' />");
                  $(freePos[0]).removeClass("free");
              } else {
                  $("#repeated-photo").modal();
              }
          } else {
              $("#vote-limit").modal();
          }
      });
  });

