%body
  #layout
    = render "shared/header"
    #body_container
      .work_container
        .work_bg_repeat
          .work_bg_top
            .work_bg_bottom
              .work_main
                = render :partial => "shared/menu", :locals => {:active => "friend_votes"}
                .invite_left
                  = render "shared/user_avatar"
                  = render "shared/three_best"
                .invite_right
                  .invite_right_bg
                    .invite_right_top
                      .invite_right_bottom
                        .invite_outer
                          .votes
                            - @voters_with_votes.each do |voter_with_vote|
                              - voter_with_vote.each do |voter, votes|
                                .votes_row
                                  .top_sec
                                    = image_tag voter.profile_picture, :width => 32, :height => 32
                                    %h2
                                      = voter.full_name
                                      %strong Votes You
                                    %em= "#{time_ago_in_words(votes.first.created_at)} ago"
                                  %ul
                                    %li.first
                                      = image_tag votes[0].photo.preview_url, :width => 130
                                    %li
                                      = image_tag votes[1].photo.preview_url, :width => 130
                                    %li
                                      = image_tag votes[2].photo.preview_url, :width => 130
                          .paging
                            %ul
                              %li
                                %a.active{:href => "#"} 1
                              %li
                                %a{:href => "#"} 2
                              %li
                                %a{:href => "#"} 3
                              %li
                                %a{:href => "#"} 4
                              %li
                                %a{:href => "#"} 5
                              %li
                                %a{:href => "#"} 6
                              %li ....
                              %li
                                %a{:href => "#"} 12
                              %li
                                %a{:href => "#"} >
                      %span.clear
        %span.clear
    = render :partial => "shared/footer", :locals => {:css_class => "pad1"}
