!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    = yield :meta
    %title MyThreeBest
    = stylesheet_link_tag "jquery-ui"
    = stylesheet_link_tag "layout"
    = stylesheet_link_tag "custom"
    = yield :stylesheets
    /[if IE]
      = stylesheet_link_tag "ie"
    = javascript_include_tag :defaults
    = yield :javascripts
    = csrf_meta_tag
  %body
    = yield
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24040248-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
