!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type"}/
    %title MyThreeBest
    = stylesheet_link_tag "jquery-ui"
    = stylesheet_link_tag "layout"
    = stylesheet_link_tag "custom"
    = yield :stylesheets
    /[if IE]
      = stylesheet_link_tag "ie"
    = javascript_include_tag :defaults
    = yield :javascripts
    = csrf_meta_tag
  %body
    = yield
